<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home :: head">
</head>
<body>
<div th:replace="~{home/home::header}"></div>
<div class="main">
    <h2 style="text-align: center;color: #212529;font-size: 40px;font-weight: 500;
padding: 10px 24px">Danh sách tài khoản</h2>
    <h3 style="text-align: center;color: red" th:text="${msg}"></h3>
    <div class="container">
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>TÊN</th>
                <th style="text-align: center">CHỨC NĂNG</th>
            </tr>
            </thead>
            <tbody th:each="role,loop :${listRole}">
            <tr>
                <td th:text="${loop.count}"></td>
                <td th:text="${role.roleName}"></td>
                <td th:href="@{admin/account/update/{id}(id=${role.id})}">
                    <button type="button" class="btn btn-warning">Chỉnh sửa</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="footer" th:replace="/home/home :: footer"></div>
</body>
</html>