<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home :: head">
</head>
<body>
<div th:replace="~{home/home::header}"></div>
<div class="main">
    <div class="container mt-5">
        <h2 style="text-align: center;color: #212529;font-size: 40px;font-weight: 500;padding: 10px 24px">Danh sách tài
            khoản</h2>
        <h3 style="text-align: center;color: red" th:text="${msg}"></h3>
        <form th:action="@{/admin/account}"  style="width: 400px">
            <div class="d-flex">
                <input class="form-control me-2" type="search" id="name" name="name" placeholder="Tìm kiếm theo tên...."
                       th:value="${name}">
                <input type="submit" class="btn btn-outline-warning"
                       style="width: 100px" value="Tìm kiếm">
            </div>
        </form>
        <table class="table col-sm-4">
            <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Mật khẩu</th>
                <th>Phân loại</th>
                <th colspan="2" style="text-align: center">Chức năng</th>
            </tr>
            </thead>
            <tbody th:each="accountRole,loop :${listAccountRole}">
            <tr>
                <td th:text="${loop.count}+${page*5}"></td>
                <td th:text="${accountRole.account?.userName}"></td>
                <td th:text="${accountRole.account?.password}"></td>
                <td th:text="${accountRole.role?.roleName}"></td>
                </td>
                <td>
                    <button type="button" class="btn btn-warning"
                            th:onclick="|window.location.href = '@{/admin/account/update/{id}(id=${accountRole.account?.id})}'|">
                        Chỉnh sửa
                    </button>
                </td>
                <td>
                    <button type="button"
                            th:attr="onclick=|info('${accountRole.account?.id}','${accountRole.account?.userName}')|"
                            class="btn btn-danger btn-sm"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Xóa
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="text-center container">
    <a class="page-item btn btn-outline-dark page-item m-1" th:if="${listAccountRole.hasPrevious()}"
       th:href="@{/admin/account(page = ${listAccountRole.number - 1})}">
        <i class="ti-angle-left">Trước</i>
    </a>

    <a class="page-item number btn btn-outline-dark page-item m-1"
       th:classappend="${pageNumber == listAccountRole.number + 1} ? 'active' : ''"
       th:each="pageNumber : ${pageNumberList}"
       th:href="@{/admin/account(page = ${pageNumber - 1})}"
       th:text="${pageNumber}">
    </a>

    <a class="page-item btn btn-outline-dark page-item m-1" th:if="${listAccountRole.hasNext()}"
       th:href="@{/admin/account(page = ${listAccountRole.number + 1})}">
        <i class="ti-angle-right">Sau</i>
    </a>
</div>
<div class="footer" th:replace="/home/home :: footer"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc muốn xóa tài khoản <span id="nameDelete" style="color: #3b5998"></span> ?</p>
                <p style="color: red">Tác vụ này không thể hoàn tác.</p>
            </div>
            <div class="modal-footer">
                <form th:action="@{/admin/account/delete}" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="hidden" id="idDelete" name="id" class="btn btn-secondary">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function info(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }

</script>
</body>
</html>