<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home :: head"></head>
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/createProduct.css}">
</head>
<body>
<div class="header" th:replace="/home/home :: header"></div>
<div class="main">

    <div aria-atomic="true" aria-live="assertive" class="toast show" role="alert" th:if="${messageSuccess != null}">
        <div class="toast-header bg-warning">
            <strong class="me-auto">Thông báo</strong>
            <small>1 second ago</small>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
        </div>
        <div class="toast-body" th:text="${messageSuccess}">
        </div>
    </div>
    <div aria-atomic="true" aria-live="assertive" class="toast show" role="alert" th:if="${messageError != null}">
        <div class="toast-header bg-danger">
            <strong class="me-auto">Thông báo</strong>
            <small>1 second ago</small>
            <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
        </div>
        <div class="toast-body" th:text="${messageError}">
        </div>
    </div>

    <div class="container" style="margin-top: 200px">
        <div class="feature d-flex justify-content-between align-items-center mb-3">
            <div class="left">
                <button class="btn btn-secondary" th:onclick="|window.location = '/admin/voucher/create'|">Thêm mới
                    khuyến mãi<i class="fa-solid fa-plus"></i></button>
            </div>
            <div class="right">
                <form class="d-flex align-items-center" th:action="@{/admin/voucher}">
                    <div class="form-outline">
                        <input class="form-control" id="form1" name="search" placeholder="tìm kiếm theo tên..."
                               th:value="${search}" type="search"/>
                    </div>
                    <button class="btn btn-secondary" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <table class="table">
            <thead class="table-dark">
            <th>STT</th>
            <th>Khuyến mãi</th>
            <th>Ngày hết hạn</th>
            <th>Số lượng</th>
            <th>Phần % giảm giá</th>
            <th>Trạng thái</th>
            <th>Loại khuyến mãi</th>
            <th class="text-center">Chỉnh sửa</th>
            <th class="text-center">Xóa</th>
            </thead>
            <tbody>
            <tr th:each="voucher, iterStat : ${voucherList}">
                <th th:text="${iterStat.count}"></th>
                <td th:text="${voucher.nameVoucher}"></td>
                <td th:text="${#dates.format(voucher.expiredDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${voucher.amountVoucher}"></td>
                <td th:text="${voucher.percentDiscount + ' %'}"></td>
                <td th:text="${voucher.isExpired == true ? 'Còn hiệu lực' : 'Đã hết hạn'}"></td>
                <td th:text="${voucher.typeVoucher?.typeVoucher}"></td>

                <!--Chỉnh sửa thông tin-->
                <td class="text-center fs-4"><a th:href="@{/admin/voucher/update/(id=${voucher.id})}"><i
                        class="fa-regular fa-pen-to-square text-warning"></i></a>
                </td>

                <!--Xóa sản phẩm-->
                <td>
                    <button type="button"
                            th:attr="onclick=|infoDelete('${voucher.id}','${voucher.nameVoucher}')|"
                            class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteVoucher">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <p class="fw-bold" style="text-align: center" th:if="${voucherList.content.size() ==0 }">Không tìm thấy tên " <span
                style="color: red" th:text="${search}"></span> " khuyến mãi này!!!!</p>

        <div class="modal fade" id="deleteVoucher" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xóa Voucher</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/admin/voucher/delete">
                        <div class="modal-body">
                            <input hidden type="text" id="idDelete" name="id">
                            <span>Có chắc chắn xóa voucher </span><span style="color: red" class="fw-bolder"
                                                                        id="nameDelete"></span> ?
                            <br>
                            <p><span style="color: red" class="fw-bolder">Lưu ý:</span> không thể khôi phục lại được khi
                                đã xóa
                            </p>
                        </div>
                        <div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="submit" class="btn btn-danger">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--Phân trang-->
        <div class="text-center container">
            <a class="page-item btn btn-outline-dark page-item" th:if="${voucherList.hasPrevious()}"
               th:href="@{/admin/voucher(page = ${voucherList.number - 1})}">
                <i class="ti-angle-left">Trước</i>
            </a>

            <a class="page-item number btn btn-outline-dark page-item m-1"
               th:classappend="${pageNumber == voucherList.number + 1} ? 'active' : ''"
               th:each="pageNumber : ${pageNumberList}"
               th:href="@{/admin/voucher(page = ${pageNumber - 1})}"
               th:text="${pageNumber}">
            </a>

            <a class="page-item btn btn-outline-dark page-item" th:if="${voucherList.hasNext()}"
               th:href="@{/admin/voucher(page = ${voucherList.number + 1})}">
                <i class="ti-angle-right">Sau</i>
            </a>
        </div>
    </div>
</div>
<div class="footer" th:replace="/home/home :: footer"></div>

<script>
    function infoDelete(id, name) {
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").innerText = name;
    }
</script>

<script>
    setTimeout(() => {
        let toast = document.getElementsByClassName("toast")[0];
        toast.style.transform = "translate(" + 0 + "," + 100 + "%)";
        toast.style.opacity = 0;
        toast.style.transition = 0.5 + "s transform, " + 1 + "s opacity";
    }, 2500);
</script>
</body>
</html>