<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home :: head">
    <meta charset="UTF-8">
</head>
<head>
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
</head>
<body>
<div class="header" th:replace="/home/home :: header"></div>
<div class="main">
    <div class="d-flex justify-content-center align-items-center flex-column" id="x-cart"
         th:style="${cart.countItemQuantity() == 0 ? 'display: block' : 'display: none!important'}">
        <img alt="" th:src="@{/images/empty-cart.png}">
        <p class="mb-3">Không có sản phẩm nào trong giỏ hàng</p>
        <button class="go-home-btn" th:onclick="|window.location = '/'|">Về trang chủ</button>
    </div>
    <div class="container" id="content-items-cart" th:if="${cart.countItemQuantity() > 0}">
        <div class="total-item">
            <h2 class="amount-items" id="amount-items-cart"
                th:text="'Có '+ ${cart.countItemQuantity()} +' sản phẩm trong giỏ hàng'"></h2>
        </div>
        <div class="list-product">
            <table class="table" id="table-cart">
                <tbody>
                <tr th:each="product, index: ${cart.products}" th:id="${'row-product-' + product.getKey().getId()}">
                    <td><img alt="" class="img-product-cart" th:src="${product.getKey().getImage()}"></td>
                    <td><p class="title-name-product"
                           th:text="'Điện thoại ' + ${product.getKey().getNameProduct()}"></p></td>
                    <td>
                        <div class="d-flex justify-content-center" style="height: 28px; margin-bottom: 0.3rem">
                            <button class="decrease-amount-btn"
                                    th:onclick="|subtractOneMoreProductTotal(${product.getKey().getId()})|">-
                            </button>
                            <input class="amount-product" th:id="${'amount-product' + product.getKey().getId()}"
                                   th:value="${product.getValue()}"/>
                            <button class="increase-amount-btn"
                                    th:onclick="|addOneMoreProductTotal(${product.getKey().getId()})|">+
                            </button>
                        </div>
                        <div class="trash-can d-flex justify-content-center align-items-center"
                             th:onclick="|handleRemoveItem(${product.getKey().getId()})|">
                            <i class="fa-regular fa-trash-can me-1"></i>
                            <label th:text="${'xóa'}"></label>
                        </div>
                    </td>
                    <td><p class="price-product-cart" th:id="${'price-product' + product.getKey().getId()}"
                           th:text="${#numbers.formatInteger(product.getKey().getPrice(), 3, 'POINT') + ' ₫'}"></p></td>
                </tr>
                </tbody>
            </table>
            <div class="total-money d-flex align-items-center justify-content-between">
                <div>
                    <span style="font-weight: 500;font-size: 18px;">Tổng tiền: </span>
                    <span class="price-product-cart" id="total-money-cart"
                          th:text="${#numbers.formatInteger(cart.countTotalPayment(), 3, 'POINT') + ' ₫'}"></span>
                </div>
                <div>
                    <button class="go-home-btn">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="/home/home :: footer"></div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function addOneMoreProductTotal(id) {
        $.ajax({
                type: "GET",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: '/api/product/add-cart/' + id,
                success: (data) => {
                    document.getElementById("amount-product" + id).value = data.amount;
                    document.getElementById('price-product' + id).innerText = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(data.price);
                    document.getElementById("total-money-cart").innerText = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(data.amountMoney);
                },
                error: (error) => {
                    console.log(error);
                }
            }
        )
    }

    function subtractOneMoreProductTotal(id) {
        $.ajax({
                type: "GET",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                url: '/api/product/subtract-cart/' + id,
                success: (data) => {
                    document.getElementById('amount-product' + id).value = data.amount;
                    document.getElementById('price-product' + id).innerText = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(data.price);
                    document.getElementById("total-money-cart").innerText = new Intl.NumberFormat('vi-VN', {
                        style: 'currency',
                        currency: 'VND'
                    }).format(data.amountMoney);
                },
                error: (error) => {
                    console.log(error);
                }

            }
        )
    }

    function handleRemoveItem(id) {
        $.ajax({
            type: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: '/api/product/delete-product-cart/' + id,
            success: (data) => {
                if (data.amountItems == 0) {
                    document.getElementById("content-items-cart").remove();
                    document.getElementById("x-cart").style.display = 'block';
                    document.getElementById("x-cart").style.height = 300 +
                        'px';
                }
                document.getElementById("row-product-" + id).remove();
                document.getElementById("amount-items-cart").innerText = 'Có ' + data.amountItems + ' sản phẩm trong giỏ hàng'
                document.getElementById("total-money-cart").innerText = new Intl.NumberFormat('vi-VN', {
                    style: 'currency',
                    currency: 'VND'
                }).format(data.amountMoney);
            },
            error: () => {
                console.error("can not delete row in table");
            }
        })
    }

    function checkAmountItemsInCart(amount) {
        if (amount > 0) return true;
        return false;
    }
</script>
</html>