<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home :: head">
    <title>List customer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>
<head th:replace="/home/home :: header">
    <div style="margin-top: 150px">
        <form action="customer">
            <input placeholder="Tìm kiếm theo tên" th:name="search">
            <button type="submit">Tìm kiếm</button>
        </form>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Tên khách hàng</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Ngày sinh</th>
                <th>Loại khách hàng</th>
                <th>Chỉnh sửa thông tin</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer, index : ${list}">
                <th th:text="${index.count}"></th>
                <th th:text="${customer.nameCustomer}"></th>
                <th th:text="${customer.gender.nameGender}"></th>
                <th th:text="${customer.address}"></th>
                <th th:text="${customer.phoneNumber}"></th>
                <th th:text="${#dates.format(customer.dateOfBirth, 'dd-MM-yyyy')}"></th>
                <th th:text="${customer?.typeCustomer?.nameTypeCustomer}"></th>
                <th><a class="btn btn-primary" role="button" th:href="@{customer/update/{id}(id=${customer.id})}">Chỉnh
                    sửa</a></th>
                <th>
                    <button class="btn btn-danger btn-lg" data-target="#modelId" data-toggle="modal" th:attr="onclick=|infoDelete('${customer.id}','${customer.nameCustomer}')|"
                            type="button">
                        Xóa
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
        <!--Phân trang-->
        <div class="text-center container">
            <a class="page-item btn btn-dark page-item" th:href="@{/admin/customer(page = ${list.number - 1})}"
               th:if="${list.hasPrevious()}">
                <i class="ti-angle-left">Previous</i>
            </a>

            <a class="page-item number btn btn-dark page-item"
               th:classappend="${pageNumber == list.number + 1} ? 'active' : ''"
               th:each="pageNumber : ${pageNumberList}"
               th:href="@{/admin/customer(page = ${pageNumber - 1})}"
               th:text="${pageNumber}">
            </a>

            <a class="page-item btn btn-dark page-item" th:href="@{/admin/customer(page = ${list.number + 1})}"
               th:if="${list.hasNext()}">
                <i class="ti-angle-right">Next</i>
            </a>
        </div>
        <script>
            function pageForm() {
                document.getElementById("pageForm1").value = document.getElementById("pageForm2").value - 1;
            }
        </script>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="modelTitleId" class="modal fade" id="modelId" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xác nhận</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="customer/delete">
                        <div class="modal-body"><span>Bạn có chắc chắn xóa tất cả thông tin về khách hàng </span><span
                                class="fw-bolder" id="deleteName" style="color: red"></span> ?
                        </div>
                        <input id="deleteID" name="id" type="hidden">
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Hủy</button>
                            <button class="btn btn-danger" type="submit">Xóa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <head th:replace="/home/home :: footer">
        <script>
            function infoDelete(id, name) {
                document.getElementById("deleteID").value = id;
                document.getElementById("deleteName").innerText = name;
            }
        </script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script crossorigin="anonymous"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>