<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/home/home :: head">
    <title>Danh sách khách hàng</title>
    <!-- Required meta tags -->
</head>
<body>
<head th:replace="/home/home :: header">
<div style="margin-top: 120px">
    <p style="font-weight: bold;font-size: 30px;" class="btn-primary" th:value="${msg}"></p>
</div>
    <div style="margin-top: 150px">
        <div style="margin-bottom: 10px" class="d-flex">
            <form action="customer">
                <input style="height: 35px;border-radius: 5px;padding-bottom: 7px" placeholder="Tìm kiếm theo tên"
                       th:name="search" th:value="${search}">
                <button type="submit" class="btn btn-outline-info">Tìm kiếm</button>
            </form>
            <p>
                <a role="button" class="btn btn-primary" href="/admin/customer/create" >Thêm mới khách hàng</a>
            </p>
        </div>

        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>STT</th>
                <th>Tên khách hàng</th>
                <th>Giới tính</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Ngày sinh</th>
                <th>Loại khách hàng</th>
                <th>Chỉnh sửa thông tin</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th th:if="${list.content.size()==0}">Không tìm thấy kết quả</th>
            </tr>
            <tr th:each="customer, index : ${list}">
                <th th:text="${index.count}"></th>
                <th th:text="${customer.nameCustomer}"></th>
                <th th:text="${customer.gender.nameGender}"></th>
                <th th:text="${customer.address}"></th>
                <th th:text="${customer.phoneNumber}"></th>
                <th th:text="${#dates.format(customer.dateOfBirth, 'dd-MM-yyyy')}"></th>
                <th th:text="${customer?.typeCustomer?.nameTypeCustomer}"></th>
                <th><a class="btn btn-primary btn-lg" role="button" th:href="@{customer/update/{id}(id=${customer.id})}">Chỉnh
                    sửa</a></th>
                <th>
                    <button class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            th:attr="onclick=|infoDelete('${customer.id}','${customer.nameCustomer}')|"
                            type="button">
                        Xóa
                    </button>
                </th>
            </tr>
            </tbody>
        </table>
        <!--Phân trang-->
        <div class="text-center container">
            <a class="page-item btn btn-dark page-item" th:href="@{/admin/customer(page = ${list.number - 1})}"
               th:if="${list.hasPrevious()}">
                <i class="ti-angle-left">Trước</i>
            </a>

            <a class="page-item number btn btn-dark page-item"
               th:classappend="${pageNumber == list.number + 1} ? 'active' : ''"
               th:each="pageNumber : ${pageNumberList}"
               th:href="@{/admin/customer(page = ${pageNumber - 1})}"
               th:text="${pageNumber}">
            </a>

            <a class="page-item btn btn-dark page-item" th:href="@{/admin/customer(page = ${list.number + 1})}"
               th:if="${list.hasNext()}">
                <i class="ti-angle-right">Sau</i>
            </a>
            <div style="margin-top: 20px">
                <form action="/admin/customer" method="get">
                    <input style="height: 35px;border-radius: 5px;padding-bottom: 7px" th:value="${list.number+1}"
                           type="number" id="pageForm2" placeholder="Nhập số trang...."
                           th:attr="onchange=|pageForm()|">
                    <input type="hidden" id="pageForm1" name="page">
                    <input type="submit" class="btn btn-outline-info"
                           style="width: 136px" pattern="[1-9]+" value="Tới trang">
                </form>
            </div>
        </div>
        <script>
            function pageForm() {
                document.getElementById("pageForm1").value = document.getElementById("pageForm2").value - 1;
            }
        </script>
    </div>
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <form action="customer/delete">
                    <div class="modal-body"><span>Bạn có chắc chắn xóa tất cả thông tin về khách hàng </span><span
                            class="fw-bolder" id="deleteName" style="color: red"></span> ?
                    </div>
                    <input id="deleteID" name="id" type="hidden">
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Hủy</button>
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function infoDelete(id, name) {
            document.getElementById("deleteID").value = id;
            document.getElementById("deleteName").innerText = name;
        }
    </script>
    <head th:replace="/home/home :: footer">


</body>
</html>