<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update customer</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p th:if="${msg!=null}" class="btn btn-danger" th:text="${msg}"></p>
    <table>
        <form action="/admin/customer/update" method="post" th:object="${customer}">

            <tr>
                <td>Tên khách hàng</td>
                <td><input type="text" th:field="${customer.nameCustomer}"
                           th:value="${customer.nameCustomer}">
                    <p class="btn btn-danger" th:if="${#fields.hasErrors()}" th:errors="${customer.nameCustomer}"></p>
                </td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td><input type="text" th:field="${customer.address}" th:value="${customer.address}">
                    <p class="btn btn-danger" th:if="${#fields.hasErrors()}" th:errors="${customer.address}"></p></td>
            </tr>
            <tr>
                <td>Ngày sinh</td>
                <td><input type="date" th:field="${customer.dateOfBirth}"
                           th:value="${#dates.format(customer.dateOfBirth, 'dd-MM-yyyy')}">
                    <p class="btn btn-danger" th:if="${#fields.hasErrors()}" th:errors="${customer.dateOfBirth}"></p>
                </td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td><input type="text" th:field="${customer.phoneNumber}"
                           th:value="${customer.phoneNumber}">
                    <p class="btn btn-danger" th:if="${#fields.hasErrors()}" th:errors="${customer.phoneNumber}"></p>
                </td>
            </tr>
            <tr>
                <td>Tên tài khoản</td>
                <td><input type="text" th:field="${customer.account.userName}"
                           th:value="${customer.account.userName}"></td>
            </tr>
            <tr>
                <td>Giới tính</td>
                <td><select th:field="${customer.gender}">
                    <option th:each="gender: ${genderList}" th:text="${gender.nameGender}"
                            th:value="${gender.id}"></option>
                </select></td>
            </tr>
            <tr>
                <td>Loại khách hàng</td>
                <td><select th:field="${customer.typeCustomer}">
                    <option th:each="type: ${typeList}" th:text="${type.nameTypeCustomer}"
                            th:value="${type.typeID}"></option>
                </select></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Chỉnh sửa</button>
                </td>
            </tr>
            <input type="hidden" th:field="${customer.id}" th:value="${customer.id}">
            <div class="d-none" id="ok" th:text="${#dates.format(customer.dateOfBirth, 'yyyy-MM-dd')}"></div>
            <input type="hidden" th:field="${customer.account.id}" th:value="${customer.account.id}">
            <!--    <input type="hidden" th:field="${customer.account.password}" th:value="${customer.account.password}">-->
        </form>
    </table>
    <form action="/admin/customer/reset" method="post">
        <input type="hidden" name="id" th:value="${customer.id}">
        <button type="submit"> Reset mật khẩu về 123456</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


<script>
    $(document).ready(function () {
        document.getElementById('dateOfBirth').value = document.getElementById('ok').innerText;
    });
</script>
</body>
</html>